.container {
    margin-top: 80px;
}

.jumbotron1 {
    background: rgba(168, 138, 196, 0.9);
    color: #000000;
    padding: 70px 40px;
    border-radius: 15px;
    backface-visibility: hidden;
    margin-top: 80px;
    font-weight: normal;
}
.jumbotron2 {
    background: rgba(138, 192, 196, 0.9);
    color: #0a0909;
    padding: 70px 10px;
    border-radius: 15px;
    backface-visibility: hidden;
    margin-top: 80px;
    font-weight: normal;
}
.jumbotron3 {
    background: rgba(196, 190, 138, 0.9);
    color: #000000;
    padding: 50px 10px;
    border-radius: 15px;
    backface-visibility: hidden;
    margin-top: 50px;
    font-weight: normal;
}

.jumbotron1 img {
    max-width: 95%;
    height: 80%;
    border-radius: 5px;
}